{%extends "dashboard_outer.html"%}
{%block dashtitle%}Add Statistic Reading{%endblock%}
{%block dashcontent%}
{% if not success %}
<form action="{{ url_for('record_stat', stat=stat) }}" method="POST" enctype="multipart/form-data">
    <fieldset>
        <legend>Add reading for {{stat['name']}} </legend>

        <p><img src="{{url_for('send_uploaded_icon', filename=stat['icon']) }}" width="50" class="img-circle">
        {{stat['description']}}</p>


        <label>Time of Reading</label>
        <input type="text" name="timestamp" value="{{ctime}}" id="date"/>
        <span class="help-block">Select a time for the recording</span>

        <script type="text/javascript">
        <!--
        jQuery(function($){
        $('#date').datetimepicker({
            "alwaysSetTime" : true,
            "defaultValue" : "{{ctime}}",
            "timeFormat" : "HH:mm:ss",
            "parse" : "loose"
        });
        });
        -->
        </script>


        <button type="submit" class="btn btn-primary">Send Recording</button>
    </fieldset>
</form>
{% else %}
<div class="hero-unit">
    <h1>Reading aded</h1>
    <p><img src="{{url_for('send_uploaded_file', filename=stat['icon']) }}"
    width="50" class="img-circle">A new reading was inserted for {{stat['name']}}</p>
    <a href="{{ url_for('.dashboard') }}">Back to Dashboard</a>
</div>
{% endif %}
{%endblock%}
