{%extends "dashboard_outer.html"%}
{%block dashcontent%}


        <p>Welcome to your user dashboard. Here you can see your stats and
        create new ones too!</p>

        <div class="row">
            <div class="span2 statbox">
                <h1>{{ stats|length }}</h1>
                <h3>Statistics</h3>
            </div>

            <div class="span2 statbox">
                <h1>{{ records }}</h1>
                <h3>Recordings</h3>
            </div>
        </div>

        <script type="text/javascript">
            $(function () {
                    $("[rel='popover']").popover({"title":"API URL", "placement":"left"});
            });
        </script>

        <div class="row">
            <div class="span3"><h2>Top Statistics:</h2></div>
            <div class="span9">
                {% for stat in stats %}
                <div class="row">
                    <div class="span1">
                        <img width="50px" src="{{url_for('send_uploaded_file', filename=stat['icon'])}}" alt="thumbnail"/>
                    </div>
                    <div class="span4">
                        <h4> {{stat.name}}</h4>
                        <p>{{stat.description}}</p>
                        <p></p>
                    </div>
                    <div class="span2">
                            <h2>{{ stat['count'] }}</h2>
                    </div> 
                    <div class="span2">
                        <ul>
                            <li>
                                <a href="{{ url_for('.view_stat', stat=stat)}}">
                                View</a>
                            </li>
                            <li>
                            <a href="{{ url_for('.record_stat', stat=stat)}}">
                                Record
                            </a>
                            </li>
                            <li>
                            <a href="#" rel="popover" data-html="true" 
                            data-content="<pre>{{ url_for('.submit_statistic', _external=True, stat=stat)}}</pre>">
                            API
                        </a>
                            </li>
                    </div>
                </div>
                {% endfor %}
            </div>
        
        </div>

{%endblock%}
