{%extends "dashboard_outer.html"%}
{%block dashtitle%}View {{stat.name}}{%endblock%}
{%block dashcontent%}

<script language="javascript" type="text/javascript" src="/static/jqplot/jquery.jqplot.min.js"></script>
{% if graph == "timefreq" %}
<script type="text/javascript" src="/static/jqplot/plugins/jqplot.dateAxisRenderer.min.js"></script>
{% elif graph == "pie" %}
<script type="text/javascript" src="/static/jqplot/plugins/jqplot.pieRenderer.min.js"></script>
{%endif%}
<div class="row">

    <div class="span2">
    <img src="{{url_for('send_uploaded_file', filename=stat['icon']) }}"
    width="150" class="img-circle">    </div>
    <div class="span4">

    <h1>{{stat.name}}</h1>
    <p>{{stat.description}}</p>

    </div>

    <div class="span6">
{% if graph == "timefreq" %}
{% include "graphs/timefreq.html" %}
{% elif graph == "pie" %}
{% include "graphs/pie.html" %}
{%endif%}


        <div id="chart1"></div>
    </div>
</div>


{%endblock%}
